<div class="fullscreen">

    <!-- DOWNLOAD CV -->

<!--     <nav class="menu bott left download">
        <ul>
            <li><a href="#">Download <span class="active">CV</span></a></li>
        </ul>
    </nav>
 -->

    <!-- NAV SOCIAL -->
    <div class="nav-social">
        <ul>
            <li><a href="https://github.com/zacharyblank" target="_blank"><i class="icon icon-github"></i></a></li>
            <li><a href="https://www.facebook.com/zachianblank" target="_blank"><i class="icon icon-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/zacharyblank/" target="_blank"><i class="icon icon-linkedin"></i></a></li>
        </ul>
    </div>

    <!-- BACKGROUND IMAGE -->
    <!-- <div class="main-bg bg-image overlay"></div> -->

    <!-- INTRO SECTION -->
    <div id="intro" class="section-intro">

        <!-- NAV TOGGLE -->
        <button class="nav-toggle wave flipped" ng-click="toggleResume()"><i></i><i></i><i></i></button>

        <!-- RESUME CLOSE -->
        <div class="resume-close"></div>

        <div class="container">
            <div class="row intro-row">
                <div class="col-xs-12 intro-text">
                    <h1>Zachary Blank</h1>

                    <p>creative, technology &amp; design</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /END INTRO SECTION -->
</div>

<!-- RESUME SECTION -->
<div id="resume" class="section-resume">
    <div class="container-fluid">

        <!-- PORTFOLIO -->
        <div class="row asymetric">
            <div class="col-lg-3">
                <span class="section-number">01</span>
                <div class="section-header">
                    <h2>Portfolio</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div>
                    <div class="row gallery">
                        <div class="col-sm-6 gallery-item audio">
                            <a href="#" ng-click="open('google-chrome-fast')">
                                <img src="/assets/images/portfolio/chromefastball.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>Google Chrome Fast</h4>
                                        <h5>Creative Technology</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 gallery-item">
                            <a href="#" ng-click="open('hitch')">
                                <img src="/assets/images/portfolio/hitch.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>Hitch</h4>
                                        <h5>Founder</h5>
                                    </div>
                                </div>
                            </a>
                        </div>                                
                        <div class="col-sm-6 gallery-item web">
                            <a href="#" ng-click="open('menuus')">
                                <img src="/assets/images/portfolio/menuus.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>Menuus</h4>
                                        <h5>Creative Direction</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 gallery-item web">
                            <a href="#" ng-click="open('repair-the-rockaways')">
                                <img src="/assets/images/portfolio/repairtherockaways.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>Repair The Rockaways</h4>
                                        <h5>Creative Technology</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 gallery-item web">
                            <a href="#" ng-click="open('boerum-hill-houses')">
                                <img src="/assets/images/portfolio/bhh.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>Boerum Hill Houses</h4>
                                        <h5>Creative Direction</h5>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                        <div class="col-sm-6 gallery-item web">
                            <a href="#" ng-click="open('johnnie-walker-gift-translator')">
                                <img src="/assets/images/portfolio/johnniewalker.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>Johnnie Walker Gift Translator</h4>
                                        <h5>Creative Technology</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 gallery-item">
                            <a href="#" ng-click="open('grind')">
                                <img src="/assets/images/portfolio/grind.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>Grind</h4>
                                        <h5>Creative Technology</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 gallery-item web">
                            <a href="#" ng-click="open('quote-catalog')">
                                <img src="/assets/images/portfolio/quote.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>Quote Catalog</h4>
                                        <h5>Technical Direction</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 gallery-item">
                            <a href="#" ng-click="open('moma-atlantic-pacific')">
                                <img src="/assets/images/portfolio/moma.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>MoMA Atlantic Pacific</h4>
                                        <h5>Software Engineering</h5>
                                    </div>
                                </div>
                            </a>
                        </div>

<!--                         <div class="col-sm-6 gallery-item">
                            <a href="#" ng-click="open('two-trees')">
                                <img src="/assets/images/portfolio/twotrees.jpg" alt="">
                                <div class="gallery-caption">
                                    <div>
                                        <h4>Two Trees</h4>
                                        <h5>Technical &amp; Creative Direction</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
 -->                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /END PORTFOLIO -->

        <!-- ABOUT -->
        <div class="row asymetric">
            <div class="col-lg-3">
                <span class="section-number">02</span>
                <div class="section-header">
                    <h2>About</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div>
                    <p>I'm an entrepreneur, product designer, and technologist living and working in Portland Oregon. I lead creative teams with the idea that when design and technology conflict the most inspired results are inevitable. I've spent my career working with product designers, strategists, engineers and creatives pushing them and having my own work pushed. Whether at agencies, brands or startups It's always been an interdisciplinary collaboration that's lead to the best work.</p>

                    <p>In April 2012 I founded Hungry, a digital creative product agency in Brooklyn, New York to apply this approach at scale. Hungry has since grown to a team of over 20 people doing amazing work for global brands and startups alike. Before starting Hungry, I worked as a creative technologist on brands like Google, Cadillac, Jonnie Walker, Sprite, and Uniqlo at Bartle Bogle Hegarty in New York City.</p>

                    <p>My passion and expertise are in facilitating creative teams with a keen focus on technology, emerging trends, and new possibilities. For over 15 years I’ve been writing code and working with others to develop digital experiences for mobile, web and physical environments. I strive to work with the best designers, developers, and strategists to create experiences that move and inspire people and make them see the world differently.</p>
                    <ul class="info-list list-unstyled row p-t-30">
                        <li class="col-sm-6 col-md-4"><strong>Full Name</strong><span>Zachary Ian Blank</span></li>
                        <li class="col-sm-6 col-md-4"><strong>Location</strong><span>Portland, Oregon, USA</span></li>
                        <li class="col-sm-6 col-md-4"><strong>Email</strong><span>ziblank@gmail.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /END ABOUT -->

        <!-- SKILLS -->
        <div class="row asymetric">
            <div class="col-lg-3">
                <span class="section-number">03</span>
                <div class="section-header">
                    <h2>Skills</h2>
                </div>
            </div>

            <!-- PROGRESS BARS -->
            <div class="col-lg-9 progress-bars">
                <div>
                    <div class="row">

                        <!-- LEFT -->
                        <div class="col-md-6">
                            <div class="progress">
                                <div class="progress-info">Basketball 2%</div>
                                <div class="progress-bar" style="width: 2%">
                                    <span class="value"></span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-info">Cooking 2.5%</div>
                                <div class="progress-bar" style="width: 3%">
                                    <span class="value"></span>
                                </div>
                            </div>                            
                            <div class="progress">
                                <div class="progress-info">Design</div>
                                <div class="progress-bar" style="width: 75%">
                                    <span class="value">75%</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-info">Business Development</div>
                                <div class="progress-bar" style="width: 80%">
                                    <span class="value">80%</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-info">Technical Direction</div>
                                <div class="progress-bar" style="width: 80%">
                                    <span class="value">80%</span>
                                </div>
                            </div>
                        </div>

                        <!-- RIGHT -->
                        <div class="col-md-6">
                            <div class="progress">
                                <div class="progress-info">Creative Direction</div>
                                <div class="progress-bar" style="width: 85%">
                                    <span class="value">85%</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-info">Rock Climbing</div>
                                <div class="progress-bar" style="width: 88%">
                                    <span class="value">88%</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-info">Technology</div>
                                <div class="progress-bar" style="width: 90%">
                                    <span class="value">90%</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="progress-info">Client Services</div>
                                <div class="progress-bar" style="width: 90%">
                                    <span class="value">90%</span>
                                </div>
                            </div>                            
                            <div class="progress">
                                <div class="progress-info">Creative Concepting</div>
                                <div class="progress-bar" style="width: 92%">
                                    <span class="value">92%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /END SKILLS -->

        <!-- EXPERIENCE -->
        <div class="row asymetric">
            <div class="col-lg-3">
                <span class="section-number">04</span>
                <div class="section-header">
                    <h2>Experience</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div>

                    <!-- EXPERIENCE TIMELINE -->
                    <ul class="timeline">
                        <li>
                            <h2 class="title">Consultant</h2>
                            <span class="time">2017 | Portland, OR</span>
                            <p>I’ve spent my career strategizing, designing and creating digital experiences for mobile, web and IRL retail environments. Experiences that solve business problems. Experiences that communicate big ideas. Experiences that challenge the status quo.</p>

                            <p>My passion is in quickly validating big ideas in scrappy ways and bringing the good ones to life.</p>

                            <p>Technology<br />
                            New media, emerging technology, AI/ML, rapid prototyping & idea validation. I write code.</p>

                            <p>Creativity<br />
                            Brand storytelling through novel digital products and experiences. I design digital experiences.</p>

                            <p>Strategy<br />
                            Brand, business and digital strategy. What makes ideas worth pursuing.</p>
                        </li>
                        <li>
                            <h2 class="title">Hungry</h2>
                            <span class="time">2012 | Brooklyn, NY</span>
                            <p>I founded Hungry from an obsession for digital design and innovation. Before starting the agency, I worked in advertising from which I took my client services and process skills, completely rethought them and built an organization that partners with its clients to create best in class digital products and experiences.</p>

                            <p>As with any founder, I wore many, many, many hats. Besides leading business development, account management, and HR I drove the technical and creative output of the agency pitting designers and developers against one another to challenge possibilities and their work.</p>

                            <p>While we are best known for the design, development, and deployment of experiential digital websites, we have also been recognized for our work on full-scale creative campaigns, SEO, mobile design and development, branding, social media, and strategy.</p>
                    
                            <p>My partner and I sold Hungry to <a href="http://www.figliuloandpartners.com/" target="_blank">Figlio &amp; Partners</a> in 2017 where it became the digital arm of the agency while maintaining a roster of independent client relationships.</p>
                        </li>
                        <li>
                            <h2 class="title">BBH</h2>
                            <span class="time">2010 | New York City, NY</span>
                            <p>I joined the creative technology team at BBH to help push the digital thinking and output agency-wide. I was responsible for partnering with creative teams thinking broadly about concepts and how they might grow and live in the digital space.</p>

                            <p>I worked on campaigns for Google, Cadillac, Vaseline, Axe and Sprite. Aside from client work I was also responsible for driving internal projects that would inspire digital creative thinking within the agency and industry.</p>
                        </li>
                        <li>
                            <h2 class="title">Poke</h2>
                            <span class="time">2009 | New York City, NY</span>
                            <p>At Poke I Worked closely with the design team to bring their interfaces to life. In this position I diversified my skills as a creative technologist being challenged with finding new ways to execute highly complex systems and applications.</p>
                        </li>
                        <li>
                            <h2 class="title">thehappycorp Global</h2>
                            <span class="time">2008 | New York City, NY</span>
                            <p>At thehappycorp global I was responsible for leading all technical solutions for all clients and internal projects. This small team was successful in creating the first ever mobile event communication systems, custom built vertically integrated social network and full-screen webGL and 3d animations in the browser. This job challenged and empowered me to think different to find unique solutions to complex problems.</p>
                        </li>
                    </ul>
                    <!-- /END EXPERIENCE TIMELINE -->

                </div>
            </div>
        </div>
        <!-- /END EXPERIENCE -->

        <!-- EDUCATION -->
        <div class="row asymetric">
            <div class="col-lg-3">
                <span class="section-number">05</span>
                <div class="section-header">
                    <h2>Education</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div>

                    <!-- EDUCATION TIMELINE -->
                    <ul class="timeline">
                        <li>
                            <h2 class="title">University of Oregon</h2>
                            <p>Bachelors degree, Advertising &amp; Brand Strategy, Minor in Digital Art &amp; Multimedia Design</p>
                        </li>
                    </ul>
                    <!-- /END EDUCATION TIMELINE -->

                </div>
            </div>
        </div>
        <!-- /END EDUCATION -->

        <!-- CLIENTS -->
        <div class="row asymetric">
            <div class="col-lg-3">
                <span class="section-number">06</span>
                <div class="section-header">
                    <h2>Clients</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div>
                    <ul class="client-list list-unstyled">
                        <li>
                            <img src="/assets/images/clients/nike.png" alt="">
                        </li>
                        <li>
                            <img src="/assets/images/clients/intel.png" alt="">
                        </li>
                        <li>
                            <img src="/assets/images/clients/samsung.png" alt="">
                        </li>
                        <li>
                            <img src="/assets/images/clients/google.png" alt="">
                        </li>
                        <li>
                            <img src="/assets/images/clients/stella.png" alt="">
                        </li>
                        <li>
                            <img src="/assets/images/clients/unilever.png" alt="">
                        </li>
                        <li>
                            <img src="/assets/images/clients/glco.png" alt="">
                        </li>
                        <li>
                            <img src="/assets/images/clients/cadillac.png" alt="">
                        </li>
                        <li>
                            <img src="/assets/images/clients/virginatlantic.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /END CLIENTS -->

        <!-- EDUCATION -->
        <div class="row asymetric">
            <div class="col-lg-3">
                <span class="section-number">07</span>
                <div class="section-header">
                    <h2>Awards</h2>
                </div>
            </div>
            <div class="col-lg-9">
                
                <ul class="list-unstyled">
                    <li><strong>Cannes Lions Titanium</strong></li>
                    <li><strong>Cannes Lions Bronze Integrated</strong></li>
                    <li><strong>Cannes Lions Gold Cyber</strong></li>
                    <li><strong>Cannes Lions Silver Cyber</strong></li>
                    <li><strong>D&amp;AD Yellow Pencil - Integrated Digital</strong></li>
                    <li><strong>AICP Next Award - Websites</strong></li>
                    <li><strong>AICP Tomorrow Award </strong></li>
                    <li><strong>The One Show Gold - Branded Games</strong></li>
                    <li><strong>ADC Bronze</strong></li>
                    <li><strong>The Webby Awards Game</strong></li>
                    <li><strong>The Andy Awards Gaming, Integrated</strong></li>
                    <li><strong>.net awards Interactive Site of the Year</strong></li>
                    <li><strong>FWA Site of the Day</strong></li>
                </ul>                        

            </div>
        </div>
        <!-- /END EDUCATION -->

        <!-- CONTACT -->
        <div class="row asymetric">
            <div class="col-lg-3">
                <span class="section-number">08</span>
                <div class="section-header">
                    <h2>Contact</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div>
                    <ul class="info-list list-unstyled row">
                        <li class="col-sm-6 col-md-4"><strong>Full Name</strong><span>Zachary Ian Blank</span></li>
                        <li class="col-sm-6 col-md-4"><strong>Location</strong><span>Portland, Oregon, USA</span></li>
                        <li class="col-sm-6 col-md-4"><strong>Email</strong><span>ziblank@gmail.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /END CONTACT -->

    </div>
</div>
<!-- /END RESUME SECTION -->