body.home-project {
	.nav-toggle {

		i {

			&:nth-child(1) {
				.rotate(45deg) !important;
				right: -20px !important;
			}

			&:nth-child(3) {
				.rotate(-45deg) !important;
				right: -20px !important;
			}

			&:nth-child(2) {
				opacity: 1 !important;
				right: 0;
				width: 100%;
			}
		}

	}	
}

.project {
	min-height: 100vh;
	position: absolute;
	width: 75%;
	background: #fff;
	top: 0;
	left: 25%;
	.translate3d(100%, 0, 0);
	z-index: 10;
	-webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
 	-webkit-transition: all .8s cubic-bezier(0.645, .045, .095, 1);
          transition: all .8s cubic-bezier(0.645, .045, .095, 1);
    color: #3b3b3b;
    padding-top: 100px;

	&.in {
		.translate3d(0, 0, 0);
	}


	h1 {
		font-family: 'Montserrat',sans-serif;
		font-weight: 700;
		font-size: 42px;
		margin-bottom: 40px;

		i {
			font-family: 'Playfair Display', serif;
			font-size: 1.1em;
		}
	}

	header {

		p {
			font-size: 16px;
			color: #4b4b4b;
			line-height: 2em;
		}

		section.stats {
			margin-top: 60px;

			h6 {
			    font-family: 'Montserrat',sans-serif;
			    font-size: 1.15em;
			    line-height: 1.35;
			    font-weight: 700;
			    color: #3b3b3b;
			    letter-spacing: 0.2em;
			    text-transform: uppercase;
			    margin: 1.4em 0;				
			}

			span {
			    font-family: 'Lora',serif;
			    font-size: 1.1em;
			    line-height: 2;
			    color: #4b4b4b;
			    overflow-x: hidden;				
			}
		}
	}

	section.image {
		margin-top: 60px;
	}
}